body {
  background-image: url(Imagens/Fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding: auto;
}

.padraotextos {
  font-family: "Audiowide", sans-serif;
  text-align: justify;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  color: #fcff4d;
  padding: 40px;
  font-size: 16px;
}

.header {
  padding: 0px;
  text-align: center;
}

.header img {

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav {
  font-family: "Audiowide", sans-serif;
  text-align: justify;
  text-shadow: 3px 3px 5px rgb(255, 230, 0);
  font-size: 13px;
  color: #ffffff;

  margin: auto;
  overflow: hidden;
  background-color: #000000;
  align-items: center;
  padding: 0px;
}


.topnav a {
  float: left;
  display: block;
  color: #fff352;
  padding: 26px 30px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #fffb0075;
  color: #ff0000;
}



.footer {
  font-family: "Audiowide", sans-serif;
  text-align: justify;
  color: rgb(255, 255, 255);
  font-size: 11px;
  padding: 5px;
  text-align: center;
  background: #fffb0027;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  color: #fffd8b;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);

}

.form-container {
  background-color: #24311f;
  padding: 14px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;

}

input[type="text"],
input[type="email"],
select,
textarea {
  color: #b4b4b4;
  background-color: #0e0e0e;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 14px;
  border-radius: 8px;
}

button {
  background-color: #fffd7c;
  color: rgb(255, 247, 133);
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #061606;
}

#customers td,
#customers th {
  border: 2px solid #00000060;
  padding: 9px;
}

#customers {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#customers thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d3aa25;
  color: rgb(0, 0, 0);
}

#customers tbody>tr {
  background-color: #000000af;
}

#customers tbody>tr:hover {
  background-color: #2422007a;
}

.formatacaoimagemrodape img {
  vertical-align: middle;
  width: 100%;
  height: 350px;
}

.formatacaoimagem1 img {
  height: 440px;
  width: 340px;
  float: right;
  margin-left: 20px;
  margin-top: 15px;
}

.formatacaoimagem2 img {
  height: 360px;
  width: 300px;
  float: right;
  margin-left: 10px;
}

.formatacaoimagem3 img {
  height: 80px;
  width: 75px;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

.letrapequena {
  font-size: 14px;
}

.formatacaoimagem5 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 350px;
}

.centralizar {
  text-align: center;
}

.barra {
  float: right;
}